<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title> KGB - kirovj go blog </title>
    <meta name="description" content="kirovj go blog" />
    <link rel="icon"  href="/static/fav.ico" />
    <link rel="stylesheet" href="/static/css/style.css">
    <meta property="og:site_name" content="kirovj go blog">
    <meta property="og:title" content="kirovj go blog">
    <meta property="og:description" content="kirovj go blog">
    <meta property="og:url" content="https://wuyiting.cn">
</head>
<body>
<main id="main" role="main">
    <header role="banner">
        <h3 style="margin-top:0;">
            <a href="/" title="Home">Kirovj Go Blog</a>
            <br />
            <small>Write whatever I want.</small>

            <small style="float:right;">
                <a href="https://github.com/kirovj">Github</a>
            </small>

        </h3>
    </header>
    <hr />

    <ul class="homepage-list">
        {{range $blog := .blogs}}
        <li>
            <a href="/blog/{{$blog.Id}}">{{$blog.Title}}</a>
            <time>{{$blog.Time}}</time>
        </li>
        {{end}}
    </ul>

<!--    <ul class="pagination">-->
<!--        <li class="page-item">-->
<!--            <a href="/" class="page-link" aria-label="First"><span aria-hidden="true">&laquo;&laquo;</span></a>-->
<!--        </li>-->
<!--        <li class="page-item disabled">-->
<!--            <a  class="page-link" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>-->
<!--        </li>-->
<!--        <li class="page-item active">-->
<!--            <a class="page-link" href="/">1</a>-->
<!--        </li>-->
<!--        <li class="page-item">-->
<!--            <a class="page-link" href="/page/2/">2</a>-->
<!--        </li>-->
<!--        <li class="page-item">-->
<!--            <a class="page-link" href="/page/3/">3</a>-->
<!--        </li>-->
<!--        <li class="page-item disabled">-->
<!--            <span aria-hidden="true">&nbsp;&hellip;&nbsp;</span>-->
<!--        </li>-->
<!--        <li class="page-item">-->
<!--            <a class="page-link" href="/page/10/">10</a>-->
<!--        </li>-->
<!--        <li class="page-item">-->
<!--            <a href="/page/2/" class="page-link" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>-->
<!--        </li>-->
<!--        <li class="page-item">-->
<!--            <a href="/page/10/" class="page-link" aria-label="Last"><span aria-hidden="true">&raquo;&raquo;</span></a>-->
<!--        </li>-->
<!--    </ul>-->
    <footer role="contentinfo">
        <hr />
        <nav style="margin-bottom:1rem;" role="navigation">
            <a href="/contact/">About</a>
            <span>&middot;</span>
            <a href="http://py.wuyiting.cn">PyApi</a>
            <span>&middot;</span>
            <a href="http://jupyter.wuyiting.cn">Jupyter</a>
            <span>&middot;</span>
            <a href="http://netdata.wuyiting.cn">Netdata</a>
            <span>&middot;</span>
            <a href="https://github.com/kirovj/kgb">Source on Github</a>
        </nav>
        <small>
            <a href="https://beian.miit.gov.cn/">浙ICP备18030011号.</a> <a href="http://www.beian.gov.cn/portal/recordQuery">浙公网安备 33011002013470</a>.<br />
            Built with <a href="https://github.com/kirovj/kgb">KGB</a>. Theme by <a href="https://vnf.cc/">HKL's Notes</a> <br />
            Maintained with &hearts; for the web.<br />
        </small>
    </footer>
</main>
</body>
</html>
