<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Note - Kirovj's Chaos</title>
    <meta name="description" content="kirovj's blog" />
    <link rel="icon" href="/static/fav.ico" />
    <!-- 字体 https://github.com/lxgw/LxgwWenKai/issues/24 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/lxgw-wenkai-webfont/1.6.0/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-lite-webfont@1.1.0/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-tc-webfont@1.0.0/style.css" />
    <link rel="stylesheet" href="https://cdn.staticfile.org/lxgw-wenkai-screen-webfont/1.6.0/style.css" />
    <!-- 字体 -->
    <link rel="stylesheet" href="/static/css/style.css">
    <meta property="og:site_name" content="kirovj's blog">
    <meta property="og:title" content="kirovj's blog">
    <meta property="og:description" content="kirovj's blog">
    <meta property="og:url" content="https://www.wuyiting.cn">
</head>

<body>
    <main id="main" role="main">
        <header role="banner">
            <h3 style="margin-top:0;">
                <a href="/" title="Home">Kirovj's Chaos</a>
                <br />
                <small>Write whatever I want.</small>

                <small style="float:right;">
                    <a href="https://github.com/kirovj">Github</a>
                </small>
                <br />
            </h3>

            <h2 class="note">谁允许你说这些话的？</h2>
        </header>
        <hr />

        <ul class="homepage-list">
            {{range $note := .notes}}
            <li>
                <p class="note">{{ $note.Main }}<br />一一 {{ $note.Source }}</p>
            </li>
            {{end}}
        </ul>
        <hr />

        <nav style="margin-bottom:1rem;" role="navigation">
            <a href="/note">Note</a>
            <span>&middot;</span>
            <a href="https://photograph.wuyiting.cn">Photo</a>
            <span>&middot;</span>
            <a href="http://csgo.wuyiting.cn">CSGO</a>
            <span>&middot;</span>
            <a href="http://cloud.wuyiting.cn:8000/">Cloud</a>
            <span>&middot;</span>
            <a href="http://jupyter.wuyiting.cn:8888/">Jupyter</a>
        </nav>

        <footer role="contentinfo">
            <small>
                <a href="https://beian.miit.gov.cn/">浙ICP备18030011号-1.</a> <a
                    href="http://www.beian.gov.cn/portal/recordQuery">浙公网安备 33011002013470</a>.<br />
                Built with <a href="https://github.com/kirovj/kgb">KGB</a>. Theme by <a
                    href="https://github.com/hiplon/lighthouse100-theme">HKL</a> <br />
                Maintained with &hearts; for both web & real life.<br />
            </small>
        </footer>
    </main>
</body>

</html>