<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Kirovj</title>
    <meta name="description" content="kirovj's blog" />
    <link rel="icon" href="/static/fav.ico" />
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <meta property="og:site_name" content="kirovj's blog">
    <meta property="og:title" content="kirovj's blog">
    <meta property="og:description" content="kirovj's blog">
    <meta property="og:url" content="https://wuyiting.cn">
</head>

<body>
    <header class="masthead">
        <h1><a href="/">Kirovj</a></h1>
        <p class="tagline">There is only one thing in the world worse than being talked about, and that is not being
            talked about.</p>

        <nav class="menu">
            <ul>
                <li><a href="https://github.com/kirovj">Github</a></li>
                <li><a href="/note">Notes</a></li>
            </ul>
        </nav>
    </header>
    <main id="main" role="main">
        <ul class="homepage-list">
            {{range $note := .notes}}
            <li>
                <p class="note">{{ $note.Main }}<br />一一一一 {{ $note.Source }}</p>
            </li>
            {{end}}
        </ul>
        <footer>
            <hr>
            <div class="copyright">© <a href="https://wuyiting.cn">Kirovj</a> | @2015 - </div>
        </footer>
    </main>
</body>

</html>