html,
body {
    background: #fffaf7;
    color: #2d2d2d;
    font: 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
a,
a:visited {
    color: darkred;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
main {
    margin: auto;
    max-width: 40rem;
    padding: 0.8rem;
}
ul {
    margin-block-start: 0;
    margin-block-end: 0;
}
pre {
    background: white;
    overflow: scroll;
    padding: 1rem;
    font-family: Monaco, Courier, monospace;
    font-size: 14px;
    tab-size: 4;
}
td {
    border: 1px solid #2d2d2d;
    padding: 10px;
}
img {
    height: auto;
    max-width: 100%;
}
.homepage-list {
    list-style: none;
    padding: 1rem 0;
}
.homepage-list li {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}
@media (max-width: 38rem) {
    .homepage-list li a {
        width: 100%;
    }
}
.pagination{
    list-style:none;
    margin:25px 0;
    padding:0;
    text-align:center;
}
.pagination li{
    display:inline-block;
    margin:0 4px;
}
.pagination a{
    display:inline-block;
    padding:0 10px;
    height:30px;
    line-height:30px;
    color: darkred;
}
.pagination .active a{
    color: darkred;
    background:#fff2d099;
}
blockquote {
    padding: 0 20px;
    margin: 0 0 20px;
    font-size: 15px;
    border-left: 5px solid #eee;
}
.motto {
    text-align: left;
    font-weight: 400;
    font-style: italic;
    font-size: 0.8em;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    white-space: pre-line;
}